.filemenu {
    height: 6vh;
    display: flex;
    align-items: center;
}

.filemenu-text {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 10px;
}

.rp-logo {
    height: 37px;
    width: 37px;
    margin-left: 10px;
}

.bg-light {
    background-color: #292e54 !important;
}

.navbar-light .navbar-nav .nav-link {
    margin-top: 3px;
    margin-left: 40px;
    color: #7076aa !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9094be !important;
}

.dropdown-item {
    background-color: #292e54 !important;
    color: #7076aa;
}

.dropdown-item:hover {
    color: #9094be !important;
    background-color: #292e54 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #292e54 !important;
    margin-left: 40px;
}

.dropdown-divider {
    border-top: 1px solid #7076aa !important;
}
