.left_sidebar {
    height: 100%;
    user-select: none;
}

.left_title {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}

.component_button {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px 20px 15px 20px;
    background-color: #2d325a;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

.component_button:hover {
    background-color: #3c4374;
    color: #8186bd;
}

.left_divider {
    padding: 0.2px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #313558;
    text-align: center;
}
